/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
    font-family: 'Noto Sans JP', sans-serif;
    background: linear-gradient(360deg, #d09a39, transparent);
}

input[type=text]{
    height: 26px;
    border: 1px solid #d6d6d6;
    padding-left: 10px;
}

input[type=text]:focus{
    outline: none;
    box-shadow: inset 0px 1px 2px rgba(0,0,0,.2);
}
button:focus{
    outline: none
}

.btn_addtem,
form.add_project input[type=submit]{
    color: #fff !important;
    background: #00adff;
    width: 235px;
    height: 48px;
    display: block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    line-height: 48px;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    box-shadow: 0px 1px 6px rgba(0,0,0,.2);
}
.btn_addtem:hover{
    box-shadow: inset 0px 1px 3px rgba(0,0,0,.2);
}

.add_wrap{
    max-width: 600px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}
form.add_project{
    display: flex;
    opacity: 0;
    transition: all .3s;
    width: 100%;
    position: relative;
    z-index: 1;
}
form.add_project.rename{
    opacity: 1;
    height: 26px;
}
form.add_project.rename input{
    height: 22px;
}
form.add_project.rename input[type=submit]{
    line-height: 26px;
    height: 26px;
    font-size: 15px;
    width: 130px;
    background: black;
    cursor: pointer;
}
form.add_project.rename input[type=text]{
    width: calc(100% - 130px);
}
form.add_project.open{
    opacity: 1;
}
form.add_project input{
    height: 44px;
    width: calc(100% - 235px);
}
form.add_project button{
    margin: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    left: -3px;
    cursor: pointer;
}

.wrap{
    max-width: 600px;
    margin: auto;
    height: 100VH;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
h1{
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    font-size: 48px;
    margin-bottom: 0;
    margin-top: 0;
}
small{
    text-align: center;
    display: block;
    font-size: 28px;
    font-weight: 300;
}

.todo_wrap{
    margin-top: 30px;
    width: 100%;
}


/* TODO Item */
.todo_item{
    border: 1px solid #cccccc;
    box-shadow: 1px 2px 3px rgba(0,0,0,.3);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #fff;
}
.todo_item + .todo_item{
    margin-top: 30px;
}

.todo_item__head{
    font-size: 18px;
    background: #00adff;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.todo_item__add{
    background: #d6d6d673;
    padding: 15px;
    display: flex;
}

.todo_item__add .add_icon{
    width: 25px;
}
.todo_item__add .add_form{
    width: calc(100% - 35px);
    margin-left: 5px;
}

.todo_item__add input[type=text]{
    width: calc(100% - 95px);
}


.todo_item__add input[type=submit]{
    background: green;
    color: #fff;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    height: 32px;
    width: 76px;
    position: relative;
    left: -5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer
}


.item_row{
    cursor: pointer;
}

.item_row.done {
    opacity: .4;
}
.item_row.done .item_row__text{
    text-decoration: line-through;
}
.item_row + .item_row{
    border-top: 1px solid #d6d6d6
}

.item_row.done .link_edit{
    pointer-events: none;
    opacity: .2;
}

.item_row label{display: flex; padding: 15px 10px;}
.item_row:hover{
    background: #ecec9294;
}

.item_row label > div{
    padding-left: 5px;
    padding-right: 5px;
}

.item_row__icons{
    margin-right: 0;
    margin-left: auto;
}